
<div class="container__big-card">
    <div class="big-card__photo">
        <img src= ""
        height="200px"
        srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Pesquisadores Anunciam Avanço Promissor na Luta Contra o Câncer de Pulmão</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            Um grupo de pesquisadores divulgou um avanço promissor na luta contra o câncer de pulmão, uma das formas mais letais de câncer em todo o mundo. Utilizando uma nova abordagem terapêutica baseada em imunoterapia, os cientistas relataram resultados encorajadores em ensaios clínicos, demonstrando uma significativa redução no tamanho dos tumores em pacientes com câncer de pulmão avançado.
            A terapia, que envolve a ativação do sistema imunológico do próprio corpo para combater as células cancerígenas, mostrou-se eficaz em pacientes que não responderam aos tratamentos convencionais, oferecendo uma nova esperança para aqueles que enfrentam essa doença devastadora.
            Os pesquisadores enfatizaram a importância desse avanço e expressaram otimismo em relação ao potencial dessa abordagem para melhorar significativamente os resultados de tratamento para pacientes com câncer de pulmão no futuro.
        </p>
    </div>
</div>
