<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="cidade-submersa-na-grecia" 
            alt="" 
            srcset=""
            >
        </div>
    
        <div class="small-card__title">
            <h1><a href="#">Descoberta Arqueológica Revela Antiga Cidade Submersa na Grécia</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>


